@* <div class="container mx-auto my-20 px-4">
<h1 class="text-3xl font-semibold mb-4 text-gray-600">Mantenimiento de Usuarios</h1>
<br />
<div class="mt-4">
<button class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded">
Crear Usuario
</button>
</div>
<br />
<div class="overflow-x-auto">
<table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
<thead>
<tr>
<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
Nombre
</th>
<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
Apellido
</th>
<th class="px-6 py-3 text-left text-xs font-mediumd text-gray-500 uppercase tracking-wider">
Correo
</th>
<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
Nombre de Usuario
</th>
<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
Tipo de Usuario
</th>
<th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
Acciones
</th>
</tr>
</thead>

<tbody class="divide-y divide-gray-200">
<tr>
<td class="px-6 py-4 whitespace-nowrap">
John
</td>
<td class="px-6 py-4 whitespace-nowrap">
Doe
</td>
<td class="px-6 py-4 whitespace-nowrap">
john@example.com
</td>
<td class="px-6 py-4 whitespace-nowrap">
johndoe
</td>
<td class="px-6 py-4 whitespace-nowrap">
Administrador
</td>
<td class="px-6 py-4 whitespace-nowrap">
<button class="text-blue-500 hover:text-blue-700 px-3 py-1"><i class="fa fa-pencil"></i>
Editar</button>
<button class="text-red-500 hover:text-red-700 px-3 py-1"> <i class="fa fa-trash"></i>
Eliminar</button>
</td>
</tr>
</tbody>
</table>
</div>
</div>
*@

@* @model List<Core.Domain.Entities.User>
 *@

@{
    ViewData["Title"] = "Mantenimiento de Usuarios";
}

<div class="container mx-auto my-20 px-4">
    <h1 class="text-3xl font-semibold mb-4 text-gray-600">Mantenimiento de Usuarios</h1>
    <br />
    <div class="mt-4">
        <a asp-action="Create" class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded">
            Crear Usuario
        </a>
    </div>-
    <br />
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200 bg-white text-sm">
            <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nombre
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Apellido
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Correo
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nombre de Usuario
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Tipo de Usuario
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
               @*  @foreach (var user in Model)
                {
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            @user.FirstName
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            @user.LastName
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            @user.Email
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            @user.Username
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            @if (user.IsAdmin)
                            {
                                Administrador
                                    }
                            else
                            {
                                Asistente
                                    }
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a asp-action="Edit" asp-route-id="@user.Id"
                                class="text-blue-500 hover:text-blue-700 px-3 py-1">
                                Editar
                            </a>
                            <a asp-action="Delete" asp-route-id="@user.Id"
                                class="text-red-500 hover:text-red-700 px-3 py-1">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                } *@
            </tbody>
        </table>
    </div>
</div>
